@charset "UTF-8";
/* reset */
/* main variables */
body { margin: 0px; padding: 0px; font-family: "Open Sans", sans-serif; background-color: #FFF; height: 100%; line-height: 1; position: relative; font-size: 13px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow-x: hidden; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; font-family: "Open Sans", sans-serif; outline: none; border-radius: 0; }

textarea { resize: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #100da9; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: transparent; }

a:focus, a:hover { text-decoration: none; }

button { -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

a, span, div, button { outline: none !important; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; }

* { box-sizing: border-box; }

*:before, *:after { box-sizing: border-box; }

@font-face { font-family: 'Georgia'; src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.ttf") format("truetype"); font-weight: normal; font-style: normal; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/* Slider */
.slick-loading .slick-list { background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); padding: 0; border: none; outline: none; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }

[dir="rtl"] .slick-prev { left: auto; right: -25px; }

.slick-prev:before { content: "←"; }

[dir="rtl"] .slick-prev:before { content: "→"; }

.slick-next { right: -25px; }

[dir="rtl"] .slick-next { left: -25px; right: auto; }

.slick-next:before { content: "→"; }

[dir="rtl"] .slick-next:before { content: "←"; }

/* Dots */
.slick-dotted.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -25px; list-style: none; display: block; text-align: center; padding: 0; margin: 0; width: 100%; }

.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }

.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0px; font-size: 0px; color: transparent; padding: 5px; cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }

.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "•"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.navbar { padding: 0 15px; }

.navbar-brand { height: 100%; }

.navbar-brand img { display: block; height: 100%; width: auto; }

.navbar-collapse { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.navbar-nav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 90px; }

.navbar-nav > li { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }

.navbar-nav > li > a { font-family: "Open Sans"; font-size: 14px; font-weight: 400; padding: 0 25px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: #1874cd !important; border-bottom: 3px solid transparent; }

.navbar-nav > li > a:hover { border-color: red; text-decoration: none; }

.navbar-dropdown { padding: 0 25px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 90px; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.navbar-dropdown > a { color: #7f7e7c !important; position: relative; }

.navbar-dropdown > a:before { content: ""; width: 1px; height: 36px; position: absolute; top: 50%; margin-top: -18px; left: -25px; background-color: #b8b8b8; }

.navbar-dropdown > a:hover { text-decoration: none; }

.navbar-dropdown .dropdown-menu { font-family: "Open Sans"; font-size: 14px; font-weight: 400; top: 60%; border: none; min-width: 132px; box-shadow: none; }

.navbar-dropdown .dropdown-menu span { color: #7f7e7c !important; padding: 7px 5px 7px 24px; display: block; cursor: pointer; }

.navbar-dropdown .dropdown-menu span:hover { opacity: .8; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.caret { border-top-color: #1874cd; margin-left: 10px; }

@media screen and (max-width: 992px) { .navbar-toggler { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .navbar-dropdown { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .navbar-dropdown > a:before { display: none; }
  .navbar-collapse { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; }
  .navbar-nav { height: auto; }
  .navbar-nav > li > a { width: 100%; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 10px 15px; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer { padding: 15px 0; border-top: 2px solid #1874cd; background-color: rgba(24, 116, 205, 0.05); }

.footer-brand { display: block; }

.footer-brand img { display: block; max-width: 100%; }

.footer-menu { list-style: none; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; }

.footer-menu li a { font-size: 13px; padding: 3px 5px; font-family: "Open Sans"; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: #1874cd; }

.footer-menu li a:hover { font-weight: 600; }

@media screen and (max-width: 576px) { .footer-menu { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .footer-brand { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 100%; }
  .footer-brand img { margin: auto; } }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.nowrap { white-space: nowrap !important; }

/* loader */
.loaded { z-index: 1100; }

.loaded .main-wrapper { visibility: hidden; }

.icon-load { background: url("../img/loader.gif") no-repeat left top; width: 40px; height: 40px; position: fixed; left: 50%; top: 50%; margin-left: -20px; margin-left: -20px; display: none; }

.loaded .icon-load { display: block; z-index: 1101; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
header { background: url("../img/header-background.png") no-repeat 100%/cover; }

.header-content { min-height: 680px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; color: #fff; font-family: "Open Sans"; }

.header-content h1 { max-width: 590px; font-size: 36px; font-weight: 700; line-height: 42px; text-transform: uppercase; text-align: center; }

.header-content .small { max-width: 620px; font-size: 18px; font-weight: 400; line-height: 22px; text-align: center; display: block; margin-top: 18px; }

.header-btn { width: 100%; max-width: 320px; height: 70px; margin-top: 70px; text-transform: uppercase; font-weight: 700; font-size: 16px; color: #fff; }

.header-btn:hover { background-color: #fff; color: #1874cd; }

section { padding: 90px 0 100px; }

.section-title { color: #1874cd; font-family: "Open Sans"; font-size: 32px; font-weight: 400; text-align: center; }

.section-title.white { color: #fff; }

.our-speakers-slider { margin-top: 40px; }

.our-speakers-item { position: relative; cursor: pointer; padding: 0 10px; overflow: hidden; }

.our-speakers-item:hover .our-speakers-info { bottom: 0; }

.our-speakers-item img { display: block; width: 100%; height: auto; }

.our-speakers-info { color: #fff; font-size: 14px; font-weight: 400; min-height: 85px; padding: 28px 15px 20px; background-color: #1874cd; opacity: 0.85; position: absolute; bottom: -100%; left: 10px; right: 10px; text-align: center; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

.our-speakers-info span { font-size: 16px; font-weight: 700; text-transform: uppercase; padding-bottom: 7px; display: block; text-align: center; }

.section-background { background: url("../img/section_background.png") no-repeat 100%/cover; }

.expert-testimonials { margin: auto; }

.expert-testimonials-item { color: #fff; position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding-top: 97px; max-width: 660px; margin: auto; }

.expert-testimonials-item:before { content: "’’"; color: white; font-family: 'Georgia'; font-size: 90px; line-height: 22px; }

.expert-testimonials-item .text { margin-bottom: 30px; color: white; font-size: 16px; font-weight: 400; line-height: 22px; text-align: center; }

.expert-testimonials-item .author { position: relative; color: white; font-size: 14px; font-weight: 400; line-height: 18px; padding-top: 22px; display: block; text-align: center; }

.expert-testimonials-item .author:before { content: ""; position: absolute; top: 0; left: 50%; margin-left: -75px; width: 150px; height: 2px; background-color: #1874cd; }

.expert-testimonials-item .author b { text-transform: uppercase; margin-bottom: 5px; font-size: 16px; font-weight: 700; line-height: 24px; display: block; }

.section-register { background: url("../img/register-background.png") no-repeat 100%/cover; }

.input-group { width: 100%; margin-bottom: 20px; }

.form-control { height: auto; padding: 20px; font-size: 14px; font-weight: 400; }

textarea.form-control { min-height: 180px; }

.btn-white { background-color: #fff; color: #c00; text-transform: uppercase; width: 100%; padding: 20px 15px; }

.register-form { padding-top: 50px; width: 100%; }

.slider-arrow { position: absolute; top: 50%; margin-top: -22px; border: 1px solid #fff; background-color: transparent; color: #fff; width: 45px; height: 45px; font-size: 30px; z-index: 1000; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding-bottom: 5px; }

.slider-arrow:hover { background-color: #fff; color: #c00; }

.slider-arrow-prev { left: 0; }

.slider-arrow-next { right: 0; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.slider-dots { list-style: none; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin-top: 30px; }

.slider-dots li { margin: 2px; }

.slider-dots li button { min-width: 15px; height: 20px; background-color: transparent; font-size: 0; border: none; position: relative; padding: 0; }

.slider-dots li button:before { content: ""; width: 15px; height: 4px; background-color: gainsboro; font-size: 0; border: none; position: relative; top: 0; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; display: block; }

.slider-dots li button:hover:before { opacity: .8; }

.slider-dots .slick-active button:before { width: 30px; background-color: #c00; }

.refresh { text-align: center; padding: 15px 0; font-size: 15px; color: #1874cd; margin: auto; max-width: 200px; }

.refresh:hover { opacity: .8; cursor: pointer; }

.refresh i { font-size: 25px; padding-right: 10px; position: relative; bottom: -2px; }

.nowrap { white-space: nowrap; }

.table-vacancy { margin-top: 50px; }

.table-vacancy td { padding: 10px; }

.table-vacancy td i { padding: 3px; border-radius: 3px; font-size: 14px; margin-bottom: 3px; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.table-vacancy td i:hover { cursor: pointer; }

.table-vacancy td .fa-times { color: #c00; }

.table-vacancy td .fa-times:hover { background-color: #c00; color: #fff; }

.table-vacancy td .fa-pencil { color: #333; }

.table-vacancy td .fa-pencil:hover { background-color: #1874cd; color: #fff; }

.table-vacancy td:nth-child(8) { max-width: 400px; }

.table-vacancy img { max-width: 100px; height: auto; margin: 0 5px 5px 0; vertical-align: top; }

.table-vacancy span { width: -webkit-calc(100% - 105px); width: calc(100% - 105px); display: inline-block; color: #1874cd; font-size: 14px; font-weight: 500; }

.modal-content { box-shadow: none; border-radius: 0; border: none; }

.modal-content .close { position: absolute; right: 15px; top: 15px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 40px; height: 40px; border: 1px solid gainsboro; color: #c00; font-size: 18px; opacity: 1; z-index: 10; }

.modal-content .close:hover { background-color: #c00; border-color: #c00; color: #fff; }

.modal-title { color: #575757; font-size: 18px; font-weight: 700; text-align: center; padding: 50px 0 15px; width: 100%; }

.modal-body { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

.modal-text { margin-left: 52px; -webkit-box-flex: 1; -webkit-flex: 1 0 0; -ms-flex: 1 0 0px; flex: 1 0 0; }

.modal-text p { color: #575757; font-size: 14px; font-weight: 400; margin-bottom: 5px; line-height: 18px; }

.modal-text .title { color: #575757; font-size: 18px; font-weight: 700; text-transform: uppercase; padding-bottom: 24px; margin-bottom: 30px; }

.modal-text .title span { position: relative; }

.modal-text .title span:after { content: ""; position: absolute; left: 0; right: 0; bottom: -22px; height: 4px; background-color: #1874cd; }

.modal-text .sm-title { color: #575757; font-size: 14px; font-weight: 700; line-height: 22px; text-transform: uppercase; margin-bottom: 12px; display: block; }

.modal-text .list { list-style: none; margin-bottom: 30px; }

.modal-text .list li { color: #575757; font-size: 14px; font-weight: 400; line-height: 22px; }

.modal-text .list li i { color: #c00; font-size: 14px; font-weight: 400; display: inline-block; margin-right: 20px; }

.modal-form { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.modal-form .form-group { width: 100%; }

.modal-form label { font-weight: 600; margin-bottom: 7px; font-size: 15px; }

.modal-form .form-control { padding: 10px 15px; margin-bottom: 5px; }

.checkbox { margin-top: 15px; }

.checkbox input { margin-right: 5px; vertical-align: top; }

.mb-30 { margin-bottom: 30px !important; }

.slick-dotted.slick-slider { margin-bottom: 0; }

.table-striped tbody tr:nth-of-type(odd) { background-color: rgba(24, 116, 205, 0.05); }

@media (min-width: 576px) { .modal-dialog.modal-xl { max-width: 800px; } }

@media screen and (max-width: 1200px) { .modal-lg { width: 100%; padding: 0 20px; } }

@media screen and (max-width: 991px) { .modal-dialog { width: 100%; padding: 0 20px; }
  .expert-testimonials-item .text { padding: 0 40px; }
  .nowrap { white-space: normal; }
  .table-vacancy span { display: block; } }

@media screen and (max-width: 767px) { .input-group, .btn { max-width: 320px; margin-right: auto; margin-left: auto; }
  .btn { display: block; }
  .modal-body { padding: 40px 20px; }
  .modal-content .close { top: 5px; right: 5px; width: 30px; height: 30px; }
  .modal-text { margin-left: 20px; }
  .modal-text .title { margin-bottom: 15px; }
  .modal-text .list { margin-bottom: 15px; }
  .mobile-slide { display: none; }
  .slide-toggle { display: block; } }

@media screen and (max-width: 640px) { .expert-testimonials-item { padding-top: 60px; }
  .slider-arrow { top: 105px; margin-top: 0; }
  .expert-testimonials-item .text { padding: 0 60px; margin: 20px; }
  .expert-testimonials-item .author { padding-top: 17px; }
  .section-register { padding: 70px 0 80px; }
  .section-register .btn-white { padding: 14px 15px; }
  .section-register .form-control { padding: 14px 20px; }
  .modal-dialog { padding: 0; margin: auto; width: 98%; }
  .modal-body { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .modal-body img { max-height: 200px; margin: 0 auto 20px; }
  .modal-text { margin-left: 0; }
  .table-vacancy img { max-width: 150px; } }

@media screen and (max-width: 480px) { .header-content { padding-bottom: 20px; padding-top: 90px; min-height: 300px; }
  .header-content h1 { font-size: 23px; }
  section { padding: 50px 0 60px; }
  .section-title { font-size: 25px; }
  .our-speakers-slider { margin-top: 20px; }
  .slider-arrow { bottom: -80px; top: auto; }
  .slider-arrow-prev { left: 50%; margin-left: -50px; }
  .slider-arrow-next { right: 50%; margin-right: -50px; }
  .expert-testimonials-item .text { margin: 0; padding: 20px 15px; }
  .section-background { padding-bottom: 140px; }
  .section-register { padding-left: 10px; padding-right: 10px; }
  textarea.form-control { max-height: 100px; }
  .slide-toggle { max-width: 280px; } }

/*# sourceMappingURL=style.css.map */
